{% if ansible_hostname != 'tennisl1' %}
192.168.1.12  tennisl1
{% endif %}
{% if ansible_hostname != 'tennisd2' %}
192.168.1.13  tennisd2
{% endif %}
{% if ansible_hostname != 'tennisp1' %}
192.168.1.16  tennisp1
{% endif %}
{% if ansible_hostname != 'tennispi1' %}
192.168.1.111 tennispi1
{% endif %}
